h1 {
    text-align: center;
    font-family: serif;
}
h2 {
    font-family: serif;
}
#cabecalho{
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    background-size: cover;
    background-color: blue;
}


/*Seletores de classe*/
.link {
    /* font-size: 24%; */
    /* font-size: 24em; */
    /* font-size: 24rem; */
    /* font-size: 24vw; */
    
    display: inline-block;
    margin: 0 2%;
    
    padding: 5px 5px;
    width: 15%;
    transition: all 0.4s  ease-out;

    &:hover {
        background-color: rgba(255, 0, 0, 0.500);
    }

    /*Nesting elements*/
    a {
        display: inline-block;
        text-decoration: none;
        color: #000;
        font-weight: bold;
        /*Nesting elements*/
        img{
            display: inline-block;
            width: 25%;
        }
    }
}

#menu ul{
    list-style-type: none;
    text-align: center;
}
.container {
    padding: 20px;
}

#conteudo {
    line-height: 1.5;
}

form {
    border: 1px solid grey;
    padding: 10px;
}
p {
    color: green;
}
form button {
    background-color: blue;
    color: white;
}
footer {
    border-top: 2px solid red;
}